<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Counter" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Counter</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Checkin", root_path  %></li>
              <li><%= link_to "Patrons", patrons_path  %></li>
              <li><%= link_to "Download", download_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
           <div class="span12">
              <%= yield %>
           </div>
      </div>
    </div>
    
  </body>
</html>
